<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class ="inputSection">
    <input (keyup) ="disableResults()" type ="number" [(ngModel)] ="inputNumber"/>
    <button (click) = "checkPrimeNumberOrNot()">PrimeNumberOrNot</button>
  </div>
  <div class="resultSection" *ngIf ="showResult">
    <p>
      <span *ngIf= "isPrimeNumber; else notPrimeNumber"> Given number {{inputNumber}} is Prime Number</span>
      <ng-template #notPrimeNumber>Given number {{inputNumber}} is not Primen number</ng-template>
    </p>
  </div>
</div>



